<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGo0bVOfUGR_Ur1RSyTRaYhHVpYOYlMCs</string>
	<key>GCM_SENDER_ID</key>
	<string>143734232601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskyApp</string>
	<key>PROJECT_ID</key>
	<string>tasky-app-26a30</string>
	<key>STORAGE_BUCKET</key>
	<string>tasky-app-26a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143734232601:ios:db8394dcc141033ef0bc88</string>
</dict>
</plist>